.main-container {
  margin-right: 3%;
  margin-left: 3%;
}

.nav {
  margin-top: 10px;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
}

.route-path {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selection {
  cursor: pointer;
}

