.App {
  font-size: 16px;
  margin: 0 auto;
}
.main-container {
  margin: 0 auto;
}

.content-container {
  width: 88%;
  margin: 0 auto;
}

.landing {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-img {
  width: 60%;
  margin: 0 auto;
}

#main-head {
  font-weight: 400;
  font-size: 44px;
}

#sub-head {
  font-size: 32px;
}



input {
  font-size: 16px !important;
}

.nav {
  border-bottom: 1px solid lightgray;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 3% 0 3%;
}

#buddy {
  font-weight: bold;
}


.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
}
#subway {
  color: rgb(137, 184, 242);
  font-size: 4rem;
}

.route-path {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  font-size: 1.5rem;
}

#depart-arrive {
  margin-top: 0;
  margin-bottom: 0;
}
.selection {
  cursor: pointer;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 5px;
  padding: 2% 0 2% 2%;
}

.result-station {
  display: flex;
  align-items: center;
}

#origin, #destination {
  font-size: 1.3rem;
}

@media screen and (min-width: 800px) {
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  form {
    width: 50%;
  }
  .route-path {
    margin-left: 0;
    width: 50%;
  }
}